{{ range .Movies }}
<a class="content" href="/movie?id={{ .ID }}">
    {{ if ne .PosterURL "" }}
    <div class="content_img" style="background-image: url('{{ .PosterURL }}')"></div>
    <!-- <img class="content_img" src="{{ .PosterURL }}" alt="{{ .Title }}"> -->
    {{ else }}
    <div class="content_img"
        style="background-image: url('https://placehold.co/240x320?text=No%20cover')"></div>
    {{ end}}

    <div class="content_title">{{ .Title }}</div>
    <div>{{ .ReleaseDate }}</div>
    <!-- <div>{{ .RatingPercent }}%</div> -->
</a>
{{ end }}