{{ range .Contents }}
<a class="content" href="/content?id={{ .ID }}&type={{ .Kind }}">
    {{ if ne .PosterURL "" }}
    <div class="content_img" style="background-image: url('{{ .PosterURL }}')"></div>
    <!-- <img class="content_img" src="{{ .PosterURL }}" alt="{{ .Title }}"> -->
    {{ else }}
    <div class="content_img"
        style="background-image: url('https://placehold.co/240x320?text=No%20cover')"></div>
    {{ end}}

    <div class="content_title">{{ .Title }}</div>
    <div>{{ .ReleaseDate }}</div>

    {{ if gt .RatingPercent 0 }}
    <div class="content_rating
        {{ if ge .RatingPercent 70 }}
        good
        {{ else if ge .RatingPercent 50 }}
        mid
        {{ else }}
        bad
        {{ end }}
    ">{{ .RatingPercent }}%</div>
    {{ end }}
</a>
{{ end }}